<h2 class="Product_list"> List of Product </h2>
<br class="clear">
  <table>
    <% @products.each do|f|%>
      <tr>
        <td>Name	:</td>
        <td><%= f.name %></td>
      </tr>
      <tr>
        <td>Price	:</td>
        <td><%= f.price %></td>
      </tr>
      <tr>
        <% if !current_user.nil? %>
        <td><%= link_to "See More", product_path(f.id) %></td>
        <td><%= link_to "Edit", edit_product_path(f.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
